:{$PORT}
@websockets-vl {
        header Connection *Upgrade*
        header Upgrade websocket
        path /{$UUID}-vl*
}
handle @websockets-vl {
        reverse_proxy * localhost:61079
}
@websockets-vm {
        header Connection *Upgrade*
        header Upgrade websocket
        path /{$UUID}-vm*
}
